.awesome{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: aquamarine;
    max-height: 100px;
}

.loggo-text{
    display:flex;
    justify-content:center;
    align-items:center;
}
